

<hr/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6255957687904707"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6255957687904707"
     data-ad-slot="4529518707"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr/>

{{if $.Site.Data.config.enableFooter}}
<div class="page-end" id="footer">
    <div class="backlinks-container">
        {{partial "backlinks.html" .}}
    </div>
    <div>
        {{partial "graph.html" .}}
    </div>
</div>
{{end}}

{{partial "contact.html" .}}
